common --cxxopt=-std=c++20
common --host_cxxopt=-std=c++20
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w

common --enable_platform_specific_config
common:linux --platforms=//platforms:linux_x86_64_gnu_2_28
common:linux --host_platform=//platforms:linux_x86_64_gnu_2_28

build --flag_alias=doom_engine=//config/engine
build --flag_alias=doom_iwad=//config/iwad
